/* scroll for page */
body::-webkit-scrollbar {
    width: 0.6vw;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bg_default);
}
body::-webkit-scrollbar-track{
    box-shadow: 0px 0px 12px var(--body-text) inset;
}

/* Start of Navbar */
.navbar .container{
    display: flex;
    justify-content: space-between;
}
.container {
    width: 90%;
    margin-inline: auto;
}
.navbar{
    padding-block:16px;
    background-color: var(--bg_default);
}
.nav-link { 
    display: flex;
    align-items: center; 
}

.navbar .brand{
    display: flex;
    align-items: center;
    font-weight: 700;
}
.navbar a{
    color: var(--brand-primary);
    font-size: 18px;
    opacity: 0.8;
}

.nav-link > *{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 6px;
    border-radius: 6px;
    border: 1px solid var(--lines-color);
    padding-block:6px;
    font-size: 14px;
}

.nav-link button {
    background-color: transparent;
    line-height: 16px;
    font-family:'Nunito Sans', sans-serif;
}
.nav-link.color-mode-btn button {
    margin-right: 10px;
}
.nav-link button{
    color: var(--body-text);
}
.nav-link > *:hover {
    cursor: pointer;
}
.nav-link-text{
    margin-left: 5px;
    line-height: 16px;
}

.nav-icons{
    font-size: 16px;
    --ionicon-stroke-width: 42px;
}

/* End of Navbar */

/* Start of banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_default);
    height: 120px;
    position: relative;
    overflow:hidden;
}
.banner .banner-text{
    display: flex;
    flex-direction: column;
    left: 52%;
    transform: translateX(-50%);
    bottom: 15px;
    position: absolute;
    z-index: 4;
}
h1{
    color:var(--brand-secondary);
    font-size: 22px;
}
.bg-banner{
    position: absolute;
    top: -40%;
}
.bg-left-side{
    left: -100px;
    height: 69%;
    width: 110%;
    background:linear-gradient(to right,var(--brand-primary) 11%,var(--brand-secondary));
    transform: rotate(-2.55deg);
    z-index: 3;
}
.bg-right-side{
    height: 80px;
    width: 100%;
    right: -100px;
    background:linear-gradient(var(--brand-secondary),var(--brand-secondary));
    transform: rotate(3.5deg);
}

/* End of Header */

/* Start of Extra */
[name="star"] , [name="star-half-outline"], [name="star-outline"]{
    color: rgb(229,152,26);
}
/* End of Extra */

/* Start of my favorite */
.my-favourite{
    display: flex;
    position: fixed;
    z-index: 5;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding-block: 0px;
    background-color: var(--bg_default);
    box-shadow: 0px 0px 4px var(--lines-color);
    max-height: 0%;
    transition: 0.8s;
}
.my-favourite.active {
    max-height:226px;
    padding-block: 10px;
}
.fav-cards{
    margin-top: 10px;
    display: flex;
    column-gap: 15px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-inline: 11px;
    padding-top: 11px;
    padding-bottom: 5px;
}
.fav-cards >*{
    flex-shrink: 0;
}
.fav-card{
    border-radius: 8px;
    box-shadow: 0px 0px 11px var(--lines-color);
    overflow: hidden;
    margin-bottom: 6px;
}
.fav-card img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.fav-card-container{
    width: 185px;
}
.fav-card-text-container{
    padding-inline:5px;
}

/* Scroll bar for favourite */
.fav-cards::-webkit-scrollbar {
    height: 2vw;
    border-radius: 10px;
}
.fav-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--body-text);
}
.fav-cards::-webkit-scrollbar-track{
    box-shadow: 0px 0px 12px var(--bg_default) inset;
}

/* End of my favorite */

/* Start of footer */
.footer{
    text-align: center;
}
.footer small{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width:calc( var(--left-side-wdith) + 6px);
    padding-bottom: 30px;
    font-size: 15px;
}
.footer small [name="heart"]{
    color: var(--heart-color);
    margin-inline: 4px;
    font-size: 22px;
}
/* End of Footer */