
@media (min-width: 0px) and (max-width:575px){
    .bg-left-side{
        left: -100px;
        top: -40%;
        height: 58%;
        width: 129%;
        background: linear-gradient(to right,var(--brand-primary) 27%,var(--brand-secondary));
        transform: rotate(-4.3deg);
    }
    .bg-right-side {
        top: -48%;
        height: 80px;
        width: 100%;
        right: -100px;
        background: linear-gradient(var(--brand-secondary),var(--brand-secondary));
        transform: rotate(2.5deg);
    }
    .nav-link span { 
        display: none;
    }
    .nav-link > * {
        padding-inline: 11px;
    }
    .nav-link.color-mode-btn button {
        margin-right: 5px;
    }

    .header .header-text{
        width: 90%;
        left: 5%;
        transform: translateX(0%);
        bottom: 15px;
    }
    .header .header-text h1{
        font-size: 20px;
    }
    .header .header-text p{
        font-size: 14px;
    }

    /* Scroll bars */
    body::-webkit-scrollbar {
        width: 2vw;
    }
    
    /* End of Scroll bars */

}


@media (min-width: 576px) and (max-width:767px){
    .bg-left-side{
        left: -100px;
        top: -40%;
        height: 58%;
        width: 129%;
        background: linear-gradient(to right,var(--brand-primary) 27%,var(--brand-secondary));
        transform: rotate(-4.3deg);
    }
    .bg-right-side{
        top: -40%;
        height: 80px;
        width: 100%;
        right: -100px;
        background:linear-gradient(var(--brand-secondary),var(--brand-secondary));
        transform: rotate(3.5deg);
    }

    .header .header-text {
        width: 90%;
    }
    .header .header-text h1{
        font-size: 22px;
    }
    .header .header-text p{
        font-size: 16px;
    }

    /* Scroll bars */
    body::-webkit-scrollbar {
        width: 1.5vw;
    }
    /* End of Scroll bars */

}


@media (min-width: 768px) and (max-width:992px){
    .header .header-text {
        width: 90%;
    }
    .header .header-text h1{
        font-size: 22px;
    }
    .header .header-text p{
        font-size: 16px;
    }
}

@media (min-width: 993px) and (max-width: 1199px){


}

@media (min-width: 1200px) and (max-width: 1399px){


}

@media (min-width: 1400px){}


    

