:root{
    --left-side-wdith:62%;
    --left-side-wdith-sm:100%;
}

/* Start if course description */

.special-container{
    width: 55%;
    min-width: 920px;
    margin-inline: auto;
    padding-left: 64px;
}

.course-description-section{
    background-color: #333333;
    color: #EDEDED;
    padding-block: 30px;
    
}
.course-description-section .titles{
    margin-bottom: 10px;
}
.titles p{
    color: var(--brand-secondary);
}
.course-description-section .special-container{
    position: relative;
    
}
.course-info button{
    background-color: var(--brand-secondary);
    outline: 0px;
    border: 0px;
}
.course-description-section .course-description-text{
    width: var(--left-side-wdith);
}
.course-description-text .course-name {
    font-size:22px;
}
.course-description-section [name="star"] ,.course-description-section [name="star-half-outline"],.course-description-section [name="star-outline"]{
    font-size: 15px;
}

.course-description-section .course-info{
    color:black;
    position: absolute;
    right: -25px;
    top: 0px;
    border: 1px solid white;
    width: 35%;
    background-color: white;
}
.course-info.small-screens{
    display: none;
    border: 1px solid white;
    color:#333333;
}
.course-info h4{
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-info img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    background-color: white;
}
.course-info button{
    color: white;
    padding-inline: 12px;
    padding-block: 14px;
    width: 100%;
    margin-block: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

.course-info button ion-icon{
    font-size: 30px;
    margin-left: 10px;
}
.course-info .course-info-text-container{
    background-color: white;
    padding-inline: 20px;
    padding-block: 10px;
}
.course-info a{
    text-decoration: underline;
    color: blue;
    font-weight: 400;
}
.course-info .course-info-name {
    display: flex;
    flex-direction: row;
    max-width: calc( 100% - 106px);
}

.course-info .text-wrapper {
    display: -webkit-box;
    text-overflow:ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.course-credits .author-section {
    display: flex;
}
.course-credits {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.course-info .by-span{
    margin-inline: 5px;
    flex-shrink: 0;
}
.course-info .course-info-author{
    white-space: nowrap;
    flex-shrink: 0;
}
.course-info .add-to-fav-box{
    margin-block: 10px;
    padding: 15px;
    border: 1px solid #EDEDED;
}
.add-to-fav-box button:hover{
    cursor: pointer;
}
.course-info .credits-status{
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
}

/* End of course description */

/* Start fi sub-topics */
.sub-topics{
    padding-top: 30px;
    background-color: var(--bg_body);
    padding-bottom: 26px;
}

.sub-topics ul {
    display: flex;
    flex-direction: column;
}

.sub-topics-table{
    width: var(--left-side-wdith);
}
.sub-topics ul li{
    display: flex;
    align-items: center;
    padding-inline: 20px;
}
.sub-topics ul li ion-icon{
    flex-shrink: 0;
    font-size:20px;
    margin-right: 10px;
}
.sub-topics ul li , .sub-topics h4{
    padding-inline: 20px;
    padding-block: 10px;
    color: var(--body-text);
    background-color: var(--bg_default);
    border: 1px solid var(--lines-color);
    border-bottom: 0px;
}
.sub-topics h4{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 20px;
}
.sub-topics ul li:last-of-type{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid var(--lines-color);
}

.sub-topics ul li p{
    margin-left: 5px;
}
.sub-topics ul li .circle-checkMark{
    color: var(--brand-secondary);
}
/* End of sub topics */

/* Start of footer */
.footer small{
    margin: auto;
    padding-left: 7.6%;
}
/* End of footer */