:root{
    --responsive-course-info-height:200px;
}
@media (min-width: 0px) and (max-width:575px){
    .special-container{
        width: var(--container-md);
        min-width: auto;
        margin-inline:calc( (100% - var(--container-md)) / 2);
        padding-left: 0px;
    }
    /* Course desc text */
    .course-description-section .course-description-text{
        width: var(--left-side-wdith-sm);
    }
    /* End of Course desc text */

    /* Start of cousre info */
    .course-description-section .course-info{
        left: 50%;
        transform: translateX(-50%);
        top: auto;
        bottom: -42%;
        min-width: 350px;
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        justify-content: center;
    }
    .course-info .course-info-text-container{
        padding-inline: 10px;
        padding-block: 5px;
    }
    .course-info .add-to-fav-box{
        margin-block: 0px;
        padding: 8px;
    }

    .course-info img {
        /* height: 150px; */
        height: 173px;
        width: 100%;
        aspect-ratio: 16/9;
        object-position: center center;
    }

    .course-info button{
        padding-block: 8px;
        font-size: 17px;
    }
    .course-info button ion-icon{
        font-size: 25px;
        margin-left: 5px;
    }
    .course-info.small-screens {
        display: flex;
    }
    .course-info.large-screens {
        display: none;
    }

    .course-description-section .course-description-text{
        padding-bottom: 170px;
    }
    .course-info.small-screens .course-credits {
        margin-block: 3px;
    }
    .course-info.small-screens{
        min-width: auto;
        width: 350px;
        margin-top: -174px;
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        justify-content: center;
    }
    /* End of Course info */

    /* Start of sub topic */
    .sub-topics{
        background-color: var(--bg_body);
        padding-bottom: 30px;
    }

    .sub-topics-table{
        width: var(--left-side-wdith-sm);
    }

    .sub-topics small{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }
    /* End of sub topics */
    .footer small{
        padding-left: 0%;
    }
}

@media (min-width: 576px) and (max-width:767px){
    .special-container{
        width: var(--container-md);
        min-width: auto;
        margin-inline:calc( (100% - var(--container-md)) / 2);
        padding-left: 0px;
    }
    /* Course desc text */
    .course-description-section .course-description-text{
        width: var(--left-side-wdith-sm);
    }
    /* End of Course desc text */

    /* Start of cousre info */ 
    .course-description-section .course-description-text{
        padding-bottom: 70px;
    }
    .course-info.small-screens .course-credits {
        margin-block: 3px;
    }
    .course-info.small-screens{
        min-width: auto;
        width: 350px;
        margin-top: -174px;
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        justify-content: center;
    }
    .course-info .course-info-text-container{
        padding-inline: 10px;
        padding-block: 5px;
    }
    .course-info .add-to-fav-box{
        margin-block: 0px;
        padding: 8px;
    }

    .course-info img {
        height: 173px;
        width: 100%;
        aspect-ratio: 16/9;
        object-position: center center;
    }
    .course-info button{
        padding-block: 8px;
        font-size: 17px;
    }
    .course-info button ion-icon{
        font-size: 25px;
        margin-left: 5px;
    }
    .course-info.small-screens {
        display: flex;
    }
    .course-info.large-screens {
        display: none;
    }
    .course-description-section {
        padding-bottom: calc( 30px + var(--responsive-course-info-height) /2 );
    }

    /* End of Course info */

    /* Start of sub topic */
    .sub-topics{
        background-color: var(--bg_body);
        padding-bottom: 30px;
    }

    .sub-topics-table{
        width: var(--left-side-wdith-sm);
    }

    .sub-topics small{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }
    /* End of sub topics */
    .footer small{
        padding-left: 0%;
    }
}

@media (min-width: 768px) and (max-width:992px){
    .special-container{
        width: var(--container-md);
        min-width: auto;
        margin-inline:calc( (100% - var(--container-md)) / 2);
        padding-left: 0px;
    }
    /* Start of course info */
    
    .course-info.small-screens{
        width: fit-content;
        justify-content: center;
        min-width: 669px;
        height: var(--responsive-course-info-height);
        margin-inline: auto;
        margin-top: calc( -1 * var(--responsive-course-info-height) / 2 );
    }
    .course-description-section {
        padding-bottom: calc( 30px + var(--responsive-course-info-height) /2 );
    }
    .course-info button{
        padding-block: 8px;
        font-size: 17px;
    }
    .course-info button ion-icon{
        font-size: 25px;
        margin-left: 5px;
    }
    .course-info img {
        width: 60%;
    }

    .course-info .course-info-text-container{
        padding-left: 20px;
        
    }
    /* End of Course info */

    /* Start of desc text */

    /* Course desc text */
    .course-description-section .course-description-text{
        width: var(--left-side-wdith-sm);
    }

    .course-info.small-screens {
        display: flex;
    }
    .course-info.large-screens {
        display: none;
    }
    /* End of Course desc text */

    /* End of desc text */

    /* Start of sub topic */
    .sub-topics{
        background-color: var(--bg_body);
        padding-bottom: 30px;
    }

    .sub-topics-table{
        width: var(--left-side-wdith-sm);
    }

    .sub-topics small{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }
    /* End of sub topics */
    .footer small{
        padding-left: 0%;
    }
}

@media (min-width: 993px) and (max-width: 1199px){
    .special-container{
        padding-left: 0px;
    }
    .course-description-section .course-info{
        right: 0px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    
}

@media (min-width: 1400px){
    
}


    

